.container {

.showcase-text-zone {
    position: absolute;
    left: 10%;
    top: 22%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 100%;

    h1 {
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        margin-top: 0px;
        position: relative;
        margin-bottom: 70px;
        left: 10px;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
        }
    }

    p {
        font-size: 16px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 400;
        min-width: fit-content;
        animation: pulse 1s;
        
    }
}

.text-animate-hover {
    &:hover {
        color: #fff;
    }
}


.images-list {
    display: flex;
    position: absolute;
    gap: 50px;
    flex-wrap: nowrap;
    margin-top: -10px;

}

    .project {
        position: relative;
        animation: fadeInUp 2s;
        transition: transform .2s;
        opacity: 0.7;



        &:hover {
    
            cursor: pointer;
            transform: scale(1.2);
            opacity: 1;
    
        }
    }

}

@media screen and (max-width: 1200px) {

   .container.showcase-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        .showcase-text-zone {
            margin-left: 10px;
            margin-top: 40px;
            width: 100%;
        }

        .images-list {
            height: 200px;
            display: inline-block;
        }

        .project {
            margin: 20px;
        }

    }
}